.mainContainer {
	display: flex;
	flex-direction: column;
	width: 360px;
	background-color: #ffffff;
	border-radius: 24px;
	padding: 24px 20px 40px 20px;
	gap: 24px;
}

.input {
	&:focus {
		outline: none;
	}
}

.inputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 0.5px #e8e8e8;
	border-radius: 12px;
	gap: 8px;
	padding: 10px 20px 10px 20px;

	&:focus-within {
		border-color: #6a0bff;
	}
}

.searchIcon {
	width: 18px;
	height: 18px;
}

.categoryWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.categoryTitle {
	font-size: 14px;
	font-weight: 400;
	color: #474747;
}

.chipContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.chipWrapper {
	padding: 6px 12px 6px 12px;
	border: solid 1px #bababa;
	border-radius: 12px;
	max-width: max-content;
	cursor: pointer;
	&:hover {
		background-color: #6a0bff;
		border-color: #6a0bff;
		color: #ffffff;
	}
}

.active {
	border: solid 1px #6a0bff;
}
