body {
	background-color: #f8f8f8;
	margin: 0;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	width: 100%;
	padding: 20px 0px 120px;
}

section {
	display: flex;
	max-width: 1216px;
	width: 100%;
	flex-direction: column;
	padding: 4px 40px;
}
