.categoryWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.categoryTitle {
	font-size: 14px;
	font-weight: 400;
	color: #474747;
}

.chipContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.chipWrapper {
	padding: 6px 12px 6px 12px;
	border: solid 1px #bababa;
	border-radius: 12px;
	max-width: max-content;
	cursor: pointer;
	border: solid 1px #6a0bff;
	&:hover {
		background-color: #6a0bff;
		border-color: #6a0bff;
		color: #ffffff;
	}
}

.active {
	border: solid 1px #6a0bff;
}

.openAllBtn {
	display: flex;
	color: #6a0bff;
	font-size: 14px;
	text-decoration: underline;
}

.questionMetrics {
	display: flex;
	gap: 2rem;
}

.metrics {
	display: flex;
	background-color: #f8f8f8;
	padding: 6px 10px 6px 10px;
	border-radius: 8px;
	gap: 12px;
}

.metricsMark {
	color: #ffffff;
	padding: 2px 4px 2px 4px;
	background-color: #6a0bff;
	border-radius: 4px;
}

.keywords {
	color: #6a0bff;
}
